
<p id="hive_name"><%=hive.hive_name%></p>

<img id="hive_image" src="<%=hive.hive_photo_url%>"/>

<p>Количество гнёзд: <%=hive.nest_amount%></p>
<p>Количество магазинов: <%=hive.store_amount%></p>
<p>Возраст матки: <%=hive.queen_age%> год(а)</p>
<input id="description" type="text" value="<%=hive.description%>"></input>

