
<p id="hive_name"><%=hive.hive_name%></p>

<%  let src = "/public/icons/Rectangle.svg"
    let avatar = hive.hive_photo_url
    if (avatar != "/public/images/null") {
        src = avatar
    }
%>

<img id="hive_image" class="u-image u-image-default u-image-1" src="<%=src%>" alt="" data-image-width="260" data-image-height="140">

<p>Количество гнёзд: <%=hive.nest_amount%></p>
<p>Количество магазинов: <%=hive.store_amount%></p>
<p>Возраст матки: <%=hive.queen_age%> год(а)</p>
<input id="description" type="text" value="<%=hive.description%>"></input>

