
<p><%=hive_name%></p>

<table id="work_table">
    <thead>
        <tr>
            <td>Описание работ:</td>
            <td>Дата проведения:</td>
        </tr>
    </thead>

    <tbody>
        <% works.forEach((work, index) => { %>
            <tr id="<%= work.id%>">
                <td>
                    <p><%= index + 1 %></p>
                    <p class="description"> <%= work.description %> </p>
                </td>
                <td>
                    <p class="date" placeholder="дд.мм.гг""> <%= work.date %> </p>
                </td>

                <td> <button name="del_btn">del</button> </td>
                <td> <input name="checkbox" type="checkbox" name="checkbox"/> </td>
            </tr>
        <% }) %>
    </tbody>

</table>